<div class="flex flex-col items-center justify-center h-screen bg-gray-800 space-y-4">
	<div class="text-center text-white">
		<h1 class="text-2xl font-bold text-blue-400">🌐 Welcome to Demo Page</h1>
		<a href="/" data-spa class="text-blue-400 underline">Back to Home</a>
		<a href="/demo" data-spa class="underline text-teal-300">Demo</a>
		<a href="/login" data-spa class="text-blue-400 underline">Go to Login</a>
	</div>
	<h1 class="text-4xl font-bold text-blue-400" data-i18nkey="common:welcome">Welcome</h1>
	<div>
		<button id="changeLangButton-en" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600" data-lang="en">EN</button>
		<button id="changeLangButton-fr" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" data-lang="fr">FR</button>
		<button id="changeLangButton-es" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600" data-lang="es">ES</button>
		<button id="changeLangButton-kr" class="px-4 py-2 bg-white text-black rounded hover:bg-gray-300" data-lang="kr">KR</button>
	</div>
	<button id="gameButton" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600" data-i18nkey="game:title">
		Game
	</button>
	<div class="flex flex-col items-center space-y-2">
		<input
		type="text"
		placeholder="Check if username exists"
		class="px-4 py-2 border rounded w-64"
		id="usernameInput"
		/>
		<button
		id="checkUsernameButton"
		class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600"
		data-i18nkey="login:username"
		>
		Check Username
	</button>
</div>
</div>

