<div class="flex flex-col items-center justify-center h-screen bg-gray-900">
    <h1 class="text-3xl font-bold text-white mb-4" data-i18nkey="game:title">Game</h1>
    <div id="scoreboard" class="text-white mb-4">
        <span id="score-player1">0</span> - <span id="score-player2">0</span>
    </div>
		<div class="w-full max-w-3xl p-4 bg-gray-800 rounded-lg shadow-lg flex justify-center">
			<div class="w-full aspect-[4/3]">
				<canvas id="game-canvas" class="bg-black rounded-md shadow-md w-full h-full"></canvas>
			</div>
		</div>
    <div class="mt-4">
        <button id="quitButton" class="px-4 py-2 bg-red-500 text-white rounded" data-i18nkey="game:quitButton">Quit</button>
    </div>
</div>