<div class="flex flex-col justify-between flex-1 text-center bg-neutral-800 text-white">
  <div class="pt-16"> <!-- Changé mt-8 en pt-16 -->
    <h1 class="text-8xl tracking-wide text-amber-400" data-i18nkey="common:welcome">
      Welcome
    </h1>
  </div>

  <!-- <div class="relative flex-1 flex items-center justify-center">
    <img
      src="/assets/image.png"
      alt="Image 1"
      class="absolute -left-40 rotate-[-12deg] w-[1300px] max-w-none select-none pointer-events-none"
    />
    <img
      src="/assets/image.png"
      alt="Image 2"
      class="absolute -right-10 rotate-[13deg] w-[1100px] max-w-none select-none pointer-events-none"
    />
  </div> -->

  <div class="pb-16 space-y-4"> <!-- Changé mb-8 en pb-16 -->
    <button class="px-6 py-3 bg-amber-400 text-white rounded-lg hover:bg-amber-500 transition-colors" data-i18nkey="login:loginButton">
      Login
    </button>
    <br />
    <button class="px-6 py-3 bg-zinc-600 text-white rounded-lg hover:bg-zinc-500 transition-colors" data-i18nkey="login:guest">
      Guest
    </button>
  </div>
</div>
