<div class="flex flex-col items-center justify-center h-screen bg-gray-800 space-y-4">
	<div class="text-center text-white">
	<h1 class="text-2xl font-bold text-blue-400">🖥️ Welcome to Login Page</h1>
	<a href="/" data-spa class="text-blue-400 underline">Back to Home</a>
	<a href="/demo" data-spa class="underline text-teal-300">Demo</a>
	<a href="/login" data-spa class="underline text-teal-300">Login</a>
</div>
<div>
	<button id="loginButton" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" data-i18nkey="login:loginButton">
		Login
	</button>
	<button id="logoutButton" class="g_id_signout px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" data-i18nkey="login:logoutButton">Logout</button>
	
</div>
</div>


